.app {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    width: 1010px;
    min-height: 100%;
    margin: auto;
    padding: 20px 32px;
}
.app__search-input {
    margin-bottom: 32px;
}

.app__content {
    display: flex;
    flex: 1;
}

.app__loader {
    width: 100%;
}

.app__space {
    margin-top: -16px;
    margin-bottom: 32px;
}

.app__pagination {
    display: flex;
    justify-content: center;
}

.app__error {
    position: absolute;
    bottom: 20px;
    right: 20px;
    max-width: 500px;
}